/*
    Document   : HomeworkFolder/StyleGuide/css/styleguide.css
    Created on : 2015-03-01 07:15 PM
    Author     : gadia
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body,h1,h2,p{

	margin: 0;
	padding: 0;
}

button{

	border: none;
	outline: none;
	cursor: pointer;
}

@font-face {
	font-family: 'icons';
	src:url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
		url('../fonts/glyphicons-halflings-regular.woff2') format('woff'),
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clearfix:after{

	content: '';
	display: block;
	clear: both;
}

header{

	height: 70px;
	background-color: #B28686;
}

header .header-container{

	width: 1140px;
	margin: 0 auto;
}

.header-container h1{

	padding: 15px;
}

.colors-section{

	height: 400px;
}

.colors-container{

	background-color: #9D2A2A;
}

.colors-container .color-block{

	width: 150px;
	height: 40px;
	margin: 5px;
}

.colors-container .color1{

	background-color: #ececec;
}

.colors-container .color2{

	background-color: #3aa6db;
}

.colors-container .color3{

	background-color: rgba(255, 51, 153,1);
}

.colors-container .color4{

	background-color: rgba(90, 190, 40,1);
}

.colors-container .color5{

	background-color: rgba(255, 102, 0,1);
}

.colors-container .color6{

	background-color: #575756;
}

.colors-container .color7{

		background-color: #3399cc;
}

.buttons-section{

	height: 100px;
}

.buttons-container button{

	width: 178px;
	height: 34px;
	border-radius: 6px;
	background-color: #2793c9;
	color: #fff;
	text-align: left;
	padding-left: 15px;
	box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
}

/*
.buttons-container button span:before{

	font-family:'icons';
	content: "\e250";
	float: right;
}
*/

.buttons-container button .arrow{
  width:0;
  border-left: 12px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 3px;
  float: right;
}

.colored-rec{

	height: 250px;
}

.rec-container .rectangle{

	width: 290px;
	height: 174px;
	background-color: rgba(255, 51, 153, 0.9);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	border-radius: 6px;
}

.rec-content{

	width: 266px;
	margin: 0 auto;
}

.rec-content p.rec-sent{

	color: #fff;
	font-size: 24px;
	padding-top: 10px;
}

.rec-content p.details{

	color: #fff;
	font-weight: bold;
	margin-top: 40px;
}

.blured-recs{

	height: 200px;
}

.blured-container .b-rec{

	border-radius: 2px;
	background-color:  rgba(255, 255, 255, 0.4);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 296px;
	height: 119px;
}

.b-rec-content{

	width: 266px;
	margin: 0 auto;
	padding-top: 11px;
}

.b-rec-content > p{

	width: 188px;
	float: right;
}


.rec-date{

	width: 69px;
	height: 99px;
	background-color: #3399cc;
	float: left;
}

.rec-date .day{

	color: #fff;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	border-bottom: 1px dotted #fff;
}

.rec-date .month{

	color:  #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
}