/*
    Document   : HomeworkFolder/StyleGuide/css/styleguide.css
    Created on : 2015-03-01 07:15 PM
    Author     : gadia
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.clearfix:after{

	content: '';
	display: block;
	clear: both;
}

.site-struct{
    
    margin: 0 auto;
    width: 67.4%;
}



/*------------------------------------Header Section-----------------------------------*/

.site-header{
  height: 75px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.09);
}

.site-header > div{
    padding: 5px;
}

.logo{
    
    width: 140px;
    height: 50px;
}

.manu-bar{
    display: inline-block;
    margin: 0 48px;
}

.manu-bar ul li{
    display: inline;
    border-right: 1px solid #d0d0d0;
    padding: 0 10px;
}

.manu-bar ul li a{
    color: #000;
}

.manu-bar ul li:hover > a{
    color: #3399cc;
}

.options{
    display: inline-block;
}

.options .lang, .options .login{
    margin-bottom: 20px;
}

input[name="search"]{
  display: inline-block;
  padding: 3px;
  border-radius: 7px;
  outline: none;
}

input[name="submit"]{
  display: inline;
  background: url("../assets/icons/picto-loupe.png") no-repeat;
  background-size: 15px;
  background-position: 2px 0px;
  width: 20px;
  height: 16px;
  border: none;
  border-left: 1px solid #000;
  outline: none;
  position: relative;
  top: 3px;
  right: 30px;
  cursor: pointer;
}

.lang{
    border: none;
    border-right: 1px solid #000;
    outline: none;
    padding-right: 2px;
}

.login{
    color: #000;
    margin-left: 15px;
}



/*------------------------------------main-section-----------------------------------*/

.main-section{
    background: url("../assets/Comverse_hp_A08.jpg") no-repeat;
    background-size: 130% 100%;
    background-position: -273px 0px;
    height: 500px;
}

.site-title{
    margin-bottom: 10px;
    font-size: 40px;
    width: 380px;
    color: #fff;
    padding: 25px 0;
}

.site-title > span{
    
    font-weight: bold;
}

.sub-title{
    color: #fff;
}

.sub-title > span{
    font-weight: bold;
}

.button{

  width: 172px;
  height: 32px;
  display: block;
  border-radius: 6px;
  background-color: #2793c9;
  color: #fff;
  text-align: left;
  padding-left: 15px;
  box-shadow: 0px 1px 2px 0px rgba(62, 157, 194, 0.75);
  line-height: 2;
  margin: 15px 0;
}


.arrow{

  width: 0;
  border-left: 10px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-radius: 2px;
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}



.carusel li{
    display: inline;
    margin: 0 2px;
}

.carusel li > a{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #e5e5e5;
}

.carusel li:first-child > a{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #2e95ca;
    border-radius: 2px;
}

.articles{
    margin-top: 50px;
}

.rectangle{

    width: 280px;
    height: 164px;
	background-color: rgba(255, 51, 153, 0.9);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	border-radius: 6px;
  	padding: 5px;
    display: inline-block;
}

.articles li:nth-child(2),
.articles li:nth-child(3){
    margin-left: 13px;
}

.articles li:nth-child(2){
    background-color: rgba(90, 190, 40,0.9);
}

.articles li:nth-child(3){
    background-color: rgba(255, 102, 0,0.9);
}

.rec-sent{

  	color: #fff;
	font-size: 24px;
	margin-top: 10px;
  	margin-left: 15px;
}

.details{

  	color: #fff;
	font-weight: bold;
  	margin-top: 60px;
  	display: inline-block;
  	margin-left: 15px;
}

.details:before{
    
    content: url("../assets/icons/Link2.png");
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    transform: scale(.8);
    
}

.details:nth-of-type(2):before{
    content: url("../assets/icons/icon_copy_6.png");
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px;
    transform: scale(.8);
}


/*------------------------------------solutions-section-----------------------------------*/

.solutions{
    background: url("../assets/Comverse_hp_A08-2.jpg") no-repeat;
    height: 380px;
}

.solutions-title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 30px 0;
}

.solution-list{
    margin: 20px auto;
    width: 830px;
}

.solution-list li{
    display: inline-block;
    vertical-align: top;
    width: 129px;
    margin: 0 3px;
}

.solution-list li h3{
    text-align: center;
    color: #fff;
}

.data div{
    background: url("../assets/icons/Robot.png") no-repeat;
    width: 100px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.machine div{
    background: url("../assets/icons/Robot.png") no-repeat;
    width: 100px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.over div{
    background: url("../assets/icons/otp.png") no-repeat;
    width: 100px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.cloud div{
    background: url("../assets/icons/4.png") no-repeat center;
    width: 129px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.managed div{
    background: url("../assets/icons/Vector_Smart_Object.png") no-repeat center;
    width: 129px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.social div{
    background: url("../assets/icons/Speech_Bubble.png") no-repeat center;
    width: 129px;
    height: 80px;    
    background-size: 94px 77px;
    background-position: 7px 0px;
}

.solutions .button{
    margin: 60px auto;

}

/*------------------------------------news-events-section-----------------------------------*/


.news-events{
    background: url("../assets/BG14.png") no-repeat;
    background-size: 100% 103%;
    background-position: 0px -2px;
    height: 410px;
}

.events-title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding: 40px 0;
}


.events{
    
    display: inline-block;
    margin-left: 20.5px;
    margin-top: 20px;
}

.events:first-of-type{
    margin-left: 0;
}

.blured-recs{

	height: 200px;
}

.blured-title{
  font-size: 32px;
  padding-bottom: 10px;
  color: #fff;
}

.blured-rec{
  	border-radius: 2px;
	background-color:  rgba(255, 255, 255, 0.4);
	box-shadow: 0px 1px 4px 0px #a2a2a2;
	width: 265px;
	height: 119px;
  	padding: 0 10px;

}


.blured-rec p {
  	width: 189px;
	float: right;
 	margin-top: 10px;
}	

.rec-date{
  	width: 69px;
	height: 99px;
	background-color: #3399cc;
	float: left;
  	margin-top: 10px;
}

.rec-date .day{

	color: #fff;
	font-size: 48px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
	border-bottom: 1px dotted #fff;
  	display: block;
}

.rec-date .month{

	color:  #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-top: 5px;
  	display: block;
}

.events a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
}

.events a .icons:nth-of-type(1){
  background: url("../assets/icons/calendar-icon.png") no-repeat;
    display: inline-block;
    width: 20px;
    height: 22px;
    margin-right: 7px;
}

/*------------------------------------stories-section-----------------------------------*/

.stories{
    background-color: #ececec;
    height: 500px;
}

.stories-title{
    text-align: center;
    font-size: 40px;
    color: #565656;
    padding: 30px 0;
}

.stories-box{

	width: 334px;
    display: inline-block;
    margin-left: 3.5px;
  
}

.stories-box:first-of-type{
    margin-left: 0;
}

.stories-box:nth-of-type(3){
    width: 220px;
}

.stories-box:nth-of-type(2){
    vertical-align: top;
}

.stories-box:nth-of-type(2) .rep-logo{
    margin-top: 0;
    margin-bottom: 5.5px;
}

.representives{

	height: 155px;
	background-color: #fff;
	padding: 12px;
}

.representives > img{

	width: 81px;
	height: 92px;
	float: left;
	margin-bottom: 15px;
	margin-top: 5px;
    margin-right: 12px;
}

.representives > q,
.representives > p{

	font-size: 20px;
    line-height: 1.2;
    vertical-align: bottom;
    margin-bottom: 10px;
    display: block;
}

.representives > p{
	font-size: 18px;
}

.quote-mark{
  background: url("../assets/icons/Quote_2.png") no-repeat;
  background-size: 20px;
  display: inline-block;
  width: 25px;
  height: 17px;
}


.representives footer{

	clear: both;
	border-top: 1px solid #000;
	padding-top: 10px;
}

.representives footer h5{

	display: inline;
}

.representives footer img{

	width: 50px;
	height: 26px;
	float: right;
	margin-top: -10px;
}

.rep-logo{

	margin-top: 5.5px;
	margin-left: 3.5px;
	background-color: #fff;
	display: inline-block;
	list-style: none;
    width: 106px;
    height: 90px;
    position: relative;
}

.rep-logo:first-of-type{

	margin-left: 0;
}

.stories-logo{

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.cycle,
.bull{
  width: 82px;
  height: 63px;
}

.hp{
    width: 78px;
    height: 85px;
}

.atos{
    width: 100px;
}

.stories .button{
    margin: 45px auto;

}


/*------------------------------------footer-section-----------------------------------*/

.site-footer{
    background-color: #222222;
}


.links-titles{
  color: #fff;
  font-size: 19px;
  padding-bottom: 10px;
}

.links-titles + ul li{
    margin: 6px 0;
}

.nav-container,
.blog-posts{
     display: inline-block;   
}

.footer-navigation{
    display: inline-block;
    vertical-align: top;
    padding: 0 27px;
    margin-bottom: 20px;
}

.footer-navigation:first-of-type{
    padding: 0;
}

.footer-navigation a{
    color: #fff;
}

.copyrights,
.copyrights a{
    color: #818181;
}

.copyrights span{
    padding-right: 5px;
}

.copyrights a{
    border-left: 1px solid #818181;
    padding-left: 10px;
}

.blog-posts{
  width: 230px;
  height: 280px;
  background-color: rgba(225, 225, 225, 0.28);
  padding: 15px;
}

.posts{

  border-bottom: 1px solid #6a6a6a;
}

.posts h4, .subscribe h4{
  margin-top: 15px;
  color: #4ea7d3;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.post-date{
  
  width: 79px;
	height: 90px;
	float: left;
  margin-top: 10px;
}

.posts:after{
  content: '';
  display: block;
  clear: both;
}

.post-date span{
  color: #fff;
	font-weight: 400;
	text-align: center;
	margin-top: 3px;
  display: block;
}

.post-day{
	font-size: 45px;
}

.post-month{
	font-size: 25px;
}

.posts p{
 	margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.email-form{
display: inline-block;
margin-top: 10px;
}

.email-form input{
  
  margin-top: 10px;
  padding: 6px;
  border: hidden;
  border-radius: 2px;
  outline: none;

}

.email-form input:nth-of-type(1){
    width: 155px;
}

.email-form input:nth-of-type(2){
  margin-left: -10px;
  border-width: 1px;
  cursor: pointer;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #2991c5 0%, #46b5ec 100%);
  background: -moz-linear-gradient(90deg, #2991c5 0%, #46b5ec 100%);
  background: -o-linear-gradient(90deg, #2991c5 0%, #46b5ec 100%);
  background: -ms-linear-gradient(90deg, #2991c5 0%, #46b5ec 100%);
  background: linear-gradient(0deg, #2991c5 0%, #46b5ec 100%);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.28);
  
}

ul.social-networks{

	margin-top: 40px;
}

ul.social-networks li{

	display: inline-block;
	width: 24px;
	height: 24px;
}

.youtube{

	background: url("../assets/icons/YouTube_3.png") no-repeat;
    display:inline-block;
    width: 24px;
    height: 24px;
}

.tweeter{

	background: url("../assets/icons/Twitter.png") no-repeat;
    display:inline-block;
    width: 24px;
    height: 24px;
}

.linkedin{

	background: url("../assets/icons/LinkedIn.png") no-repeat;
    display:inline-block;
    width: 24px;
    height: 24px;
}
